name: build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build the article PDF
    permissions: write-all
    concurrency: "showyourwork-${{ github.ref }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install TinyTex for matplotlib LaTeX rendering
        id: tinytex
        shell: bash -l {0}
        run: |
          wget -qO- "https://yihui.org/tinytex/install-bin-unix.sh" | sh
          sudo ~/bin/tlmgr install type1cm cm-super underscore

      - name: Build the article PDF

        id: build
        uses: showyourwork/showyourwork-action@f294fe2eb7275235596ff71c6de7b90d8e849fd6
        with:
          showyourwork-spec: git+https://github.com/showyourwork/showyourwork.git@110923e3756abeb119741aaf71030222d1f9bc8e#egg=showyourwork
        env:
          SANDBOX_TOKEN: "${{ secrets.SANDBOX_TOKEN }}"
          OVERLEAF_TOKEN: "${{ secrets.OVERLEAF_TOKEN }}"

